/* 
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografía
4. Visuales
5. Otros
*/

:root {
  /*Colores*/
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
}
header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center; /*Centrar elemento dentro de un contenedor con display flex*/
}


.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}
.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.header--title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header--title-container .header--button {
  position: absolute;
  left: calc(50% - 118px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /*Sombra*/
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header--title-container .header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('../icons/down-arrow.svg');
}

main{
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}
main .main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
main .main-exchange-container .backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url(../img/Bitcoin.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .main-exchange-container .main-exchange-container-title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
main .main-exchange-container .main-exchange-container-title h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
main .main-exchange-container .main-exchange-container-title p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}
.main-tables-container .main-tables-container-title {
  font-size: 1.8rem;
  line-height: 23px;
  font-weight: bold;
  color: #FF9536;
  width: 200px;
  margin: 0 auto 10px auto;
  text-align: left;
  padding-left: 10px;
}
.main-tables-container-1{
  margin-left: calc(50%);
}
.main-table-container-2 .main-table-content {
  margin-right: 100px;
}
#blank-space, #blank-space-2 {
  color: var(--off-white);
  margin-left: 50px;
}
.main-tables-container .main-table-content {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  justify-content: center;
  margin-bottom: 20px;
  width: 200px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  scroll-snap-align: center;
}
.main-table-content .main-table-item {
  padding: 10px 0 10px 15px;
  border: 1px solid #fafafa;
  
}
.main-table-currency {
  font-weight: 500;
  font-size: 1.6rem;
  color: #B5B0AC;
  line-height: 1.9rem;
  font-family: "Inter", sans-serif;
  text-align: left;
}
.main-table-value {
  font-size: 1.4rem;
  color: #757575;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  text-align: center;
}
.main-table-value span img {
  padding-left: 8px;
}
.main-table-update {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  color: var(--warm-black);
  padding: 8px;
  width: 180px;
  margin: 0 auto;
  background-color: var(--soft-orange);
  border-radius: 8px;
}

.main-tables-container .main-tables-container-title-2 {
  color: var(--secondary-blue);
}
#main-table-update-2 {
  background-color: #E7F5FF;
}

.main-product-detail {
  background-color: var(--warm-black);
  position: relative;
  min-width: 320px;
  width: 100%;
  height: auto;
  padding: 20px 10px;
}
.product-detail-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  background-image: url(../icons/batata.svg);
  left: calc(50% - 20px);
  top: -10px;
}
.product-detail-title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.product-detail-title h2 {
  margin-bottom: 20px;
  color: var(--just-white);
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: bold;
}
.product-detail-title p {
  margin-bottom: 20px;
  color: #808080;
  font-weight: 500;
  line-height: 1.4rem;
  font-size: 1.4;
}
.product-detail-card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: auto;
  margin: 15px auto;
  padding: 15px;
  background-color: #282623;
  border-radius: 5px;
  box-shadow: 5px 6px 3px rgba(0, 0, 0, 0.16);
}
.product-detail-card .card-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.product-detail-card .clock {
  background-image: url('../icons/clock.svg');
}
.product-detail-card .eye {
  background-image: url('../icons/eye.svg');
}
.product-detail-card .dollar {
  background-image: url('../icons/dollar-sign.svg');
}
.product-detail-card .check {
  background-image: url('../icons/check-circle.svg');
}

.product-card-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--just-white);
  margin-bottom: 10px;
}
.product-card-description {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #808080;
}

.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 70vh;
  background-image: url('../img/bitcoinbaby2x.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bitcoin-img-container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--just-white);
  text-align: center;
}

.main-plans-container {
  background-color: var(--off-white);
  width: 100%;
  padding-bottom: 70px;
  text-align: center;
}
.plans-title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}
.plans-title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.plans-title p {
  padding-top: 30px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: #757575;
}

.plans-container-slider {
  display: flex;
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  gap: 20px;
  padding: 0 10px;
}
.plans-container-slider .plans-container-2 {
  margin-left: 50px;
}
.plans-container {
  position: relative;
  scroll-snap-align: center;
  width: 65%;
  min-width: 180px;
  max-width: 300%;
  height: 250px;
  margin: 50px auto 0 auto;
  text-align: center;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89,73,30,0.16);
}
.recomendado {
  position: absolute;
  width: 120px;
  height: 31px;
  top: -12px;
  font-size: 1.3rem;
  padding: 6px;
  left: calc(50% - 60px);
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
  color: white;
}
.plans-container-title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: black;
}
.plans-price{
  margin-top: 10px;
  padding: 5px 0;
  font-size: 5.2rem;
  font-weight: bold;
  color: black;
  position: relative;
  font-family: "Inter", sans-serif;
}
.plans-price span {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 300;
  /* vertical-align: 45%; */
  top: 5px;
  left: calc(50% - 40px);
}
.plans-text {
  font-size: 1.2rem;
  color: #757575;
}
.plans-button {
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: var(--off-white);
  outline: none;
  border: 2px solid var(--bitcoin-orange);
  border-radius: 5px;
  color: var(--warm-black);
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.plans-button span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../icons/orange-right-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: text-bottom;
}

.plans-container-3 {
  background-color: var(--warm-black);
}
.plans-container-3 .plans-container-information .plans-container-title, .plans-container-3 .plans-container-information .plans-price{
  color: white;
}
.plans-container-3 .plans-container-information .plans-text {
  color: var(--off-white);
}
.plans-container-3 .plans-container-information .plans-button {
  background-color: var(--warm-black);
  color: var(--off-white);
}
.plans-container-3 .plans-price span {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 300;
  top: 5px;
  left: calc(50% - 60px);
}

.main-exchange-container .tables {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  gap: 30px;
}

@media screen and (min-width: 475px) {
  .main-exchange-container .tables {
    justify-content: center;
  }
  .main-tables-container-1 {
    margin-left: 0;
  }
  #blank-space {
    display: none;
  }
}
