/* 
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografía
4. Visuales
5. Otros
*/

:root {
  /*Colores*/
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
}
header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center; /*Centrar elemento dentro de un contenedor con display flex*/
}


.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}
.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.header--title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header--title-container .header--button {
  position: absolute;
  left: calc(50% - 118px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /*Sombra*/
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header--title-container .header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('../icons/down-arrow.svg');
}

main{
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}
main .main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
main .main-exchange-container .backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url(../img/Bitcoin.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .main-exchange-container .main-exchange-container-title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
main .main-exchange-container .main-exchange-container-title h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
main .main-exchange-container .main-exchange-container-title p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}
.main-tables-container .main-tables-container-title {
  font-size: 1.8rem;
  line-height: 23px;
  font-weight: bold;
  color: #FF9536;
  width: 200px;
  margin: 0 auto 10px auto;
  text-align: left;
  padding-left: 10px;
}
.main-tables-container .main-table-content {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  justify-content: center;
  margin-bottom: 20px;
  width: 200px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.main-table-content .main-table-item {
  padding: 10px 0 10px 15px;
  border: 1px solid #fafafa;
  
}
.main-table-currency {
  font-weight: 500;
  font-size: 1.6rem;
  color: #B5B0AC;
  line-height: 1.9rem;
  font-family: "Inter", sans-serif;
  text-align: left;
}
.main-table-value {
  font-size: 1.4rem;
  color: #757575;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  text-align: center;
}
.main-table-value span img {
  padding-left: 8px;
}
.main-table-update {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  color: var(--warm-black);
  padding: 8px;
  width: 180px;
  margin: 0 auto;
  background-color: var(--soft-orange);
  border-radius: 8px;
}

.main-tables-container .main-tables-container-title-2 {
  color: var(--secondary-blue);
  margin-top: 35px;
}
#main-table-update-2 {
  background-color: #E7F5FF;
}